/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    background-color: #b91450;
}

h2 {
    text-transform: uppercase;
    color: #fff;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.ms_form, .your_ticket {
    background-color: #fff;
    margin: 40px auto;
}

.your_ticket {
    opacity: 0;
    transition: opacity 0.5s;
}

.visible {
    opacity: 1;
}